{% for interface in interface_list or [] %}
interface {{ interface.name}}
    description {{ interface.desc }}
    {% if interface.uplink %}
        switchport mode trunk 
    {% else %}
    switchport access vlan {{ interface.vlan }}
    switchport mode access

    {% endif %}
    {%endfor%}